* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 246, 246);
}

/**********************************Left Top Container ******************************/
.cart-container {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 0px 10px;
  margin-top: 100px;
  gap: 10px;

}

.left-top-container {
  background-color: white;
  padding: 20px;
}

.left-top-container > h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

.left-top-container > p:nth-child(2) a {
  text-decoration: none;
  color: #007185;
}

.left-top-container > p:nth-child(2) a:hover {
  border-bottom: 1px solid rgb(113, 22, 22);
  color: rgb(113, 22, 22);
}

.left-top-container > p:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1px;
  color: #565959;
}

.cart-product-container {
  display: flex;
  padding-top: 20px;
}

.cart-product-image {
  width: auto;
  height: auto;
  margin-right: 5px;
}

.cart-product-content {
  width: 60%;
}

.cart-product-content > h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3em;
}

.cart-product-content > p:nth-child(2) {
  color: #007600;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding-top: 10px;
}

.cart-product-content > p:nth-child(3) {
  color: #565959;
  line-height: 16px;
  padding-top: 6px;
}
.cart-product-content-gift-checkbox {
  padding-top: 6px;
}

.cart-product-content-gift-checkbox > label > a {
  color: #007185;
  text-decoration: none;
  line-height: 16px;
  font-size: 12px;
}

.cart-product-content-gift-checkbox > label > a:hover {
  color: rgb(113, 22, 22);
  border-bottom: 1px solid rgb(113, 22, 22);
}

.cart-product-content > p:nth-child(5) {
  padding-top: 6px;
  line-height: 16px;
  font-size: 12px;
}

.cart-product-content > p:nth-child(5) > span {
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
}

.cart-product-content > p:nth-child(6) {
  padding-top: 6px;
  font-size: 12px;
  line-height: 16px;
}

.cart-product-content > p:nth-child(6) > span {
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
}

.cart-product-price-container {
  text-align: right;
  width: 30%;
}

.cart-product-content-footer {
  display: flex;
  align-items: center;
  color: #007185;
  padding: 6px 0px;
}

.cart-product-content-footer p:hover {
  color: rgb(113, 22, 22);
  border-bottom: 1px solid rgb(113, 22, 22);
  cursor: pointer;
}

.card-product-quantity > select {
  padding: 5px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.cart-product-content-footer > p:nth-child(2) {
  margin-left: 20px;
}

.cart-product-content-footer > p:nth-child(3) {
  margin-left: 20px;
}

.cart-product-content-footer > p:nth-child(4) {
  margin-left: 20px;
}

.cart-product-content-footer > p:nth-child(5) {
  margin-left: 20px;
}

/* Cart-Price */

.cart-product-price-container > p:nth-child(1) {
  background-color: #cc0c39;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 5px;
  color: white;
}

.cart-product-price-container > p:nth-child(2) {
  color: #cc0c39;
  line-height: 12px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.cart-product-price-container > p:nth-child(3) {
  font-size: 18px;
  line-height: 24px;
  margin-top: 3px;
  font-weight: bold;
}

.cart-product-price-container > p:nth-child(4) {
  margin-top: 10px;
  color: #565959;
  font-size: 12px;
  line-height: 16px;
}

.cart-product-price-container > p:nth-child(4) > span {
  text-decoration: line-through;
  padding-left: 3px;
  font-size: 12px;
  line-height: 16px;
}

/* Subtotal */
.cart-product-subtotal > p {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  font-size: 18px;
  line-height: 24px;
}

.cart-product-subtotal > p span {
  color: #0f1111;
  font-weight: bold;
  padding-left: 5px;
}

/* right subtotal */

.cart-subtotal {
  position: relative;
  left: 20px;
  right: 20px;
  top: 100px;
  background-color: white;
  padding: 20px;
  height: 270px;
}

/******************************** right-Top-container ******************************/
.right-Top-container {
  background-color: #ffff;
  padding: 20px;
  height: 300px;
 
}
.progressbar {
  background-color: #067d62;
  width: 80%;
  height: 16px;
  border-radius: 20px;
}

.right-Top-container > p:nth-child(2) {
  margin-top: 5px;
  color: #067d62;
  text-align: left;
  font-size: 12px;
  line-height: 15px;
}

.right-Top-container > p:nth-child(3) {
  text-align: left;
  font-size: 12px;
  line-height: 15px;
}

.right-subtotal {
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
}

.right-subtotal > label {
  font-size: 16px;
}

.right-top-button {
  background-color: #d0fff4;
  border: 1px solid #d0fff4;
  text-align: center;
  width: 100%;
  font-weight: 500;
  margin-top: 20px;
  padding: 8px 0px;
  border-radius: 20px;
  cursor: pointer;
}
.right-top-button:hover {
  background-color: #91f6de;
}
.dropdown {
  position: relative;
}

.dropdown > .dropbtn {
  width: 100%;
  margin-top: 12px;
  padding: 10px 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  box-shadow: 1px 1px 5px #007185;
}

.show {
  display: block;
}
/******************************* left-bottom-container *****************************/

.left-bottom-container {
  background-color: #ffff;
  padding: 25px;
}

.left-bottom-container > h2 {
  margin-bottom: 20px;
}

.left-bottom-button {
  margin-left: 40px;
}

.left-bottom-button > button {
  background-color: transparent;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  color: #007185;
  padding-bottom: 5px;
}

.left-bottom-button > button:active {
  border-bottom: 1px solid rgb(255, 187, 0);
}

.left-bottom-content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-bottom-content-img {
  width: auto;
  height: auto;
  margin-right: 3px;
}

.left-bottom-content {
  display: flex;
}

.left-bottom-content-describe {
  width: 60%;
}

.left-bottom-content-describe > p {
  color: #007600;
  margin-top: 2px;
}

.left-bottom-content-describe > button {
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 20px;
  margin-top: 3px;
  border: 1px solid grey;
  cursor: pointer;
}

.left-bottom-content-describe > button:hover {
  background-color: rgb(231, 231, 231);
}

.left-bottom-content > h4 {
  color: #b12704;
}
/*****************************right-bottom-container *******************************/

.right-bottom-container {
  background-color: #ffff;
  padding: 10px;
  position: relative;
  top: -330px;
}

.right-bottom-container > h2 {
  text-align: center;
  padding-top: 10px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.right-bottom-content {
  display: flex;
  align-items: center;
}

.right-bottom-content-img {
  width: auto;
  height: auto;
}
.right-bottom-content-img img {
  width: 100px;
  height: 150px;
}
.right-bottom-content-describe {
  width: 60%;
}

.right-bottom-content-describe > p:nth-child(1) {
  height: 40px;
}

.right-bottom-rating > p {
  display: inline;
  color: skyblue;
  font-weight: 600;
}
.right-bottom-content-describe p:nth-child(3) {
  font-weight: 500;
  margin-top: 4px;
}

.right-bottom-content-describe > button {
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 20px;
  margin-top: 3px;
  border: 1px solid grey;
  cursor: pointer;
}
