@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #fffefe;
}
::selection {
  background: #1a75ff;
  color: #fff;
}

.login-page-logo {
  text-align: center; /* Center the logo */
  margin-bottom: 20px; /* Space below the logo */
  border-bottom: #c80563 solid 2px;
}

.login-page-logo .logo {
  width: 150px; /* Set the width of the logo */
  height: auto; /* Maintain aspect ratio */
}


/* Default for desktop and larger screens */
.login-container {
  overflow: hidden;
  max-width: 390px; /* Default width */
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border: thin double #b00959;
}

/* For tablets (768px to 1024px) */
@media (max-width: 1024px) {
  .login-container {
    max-width: 350px; /* Adjusted for tablet screens */
  }
}

/* For mobile devices (less than 768px) */
@media (max-width: 768px) {
  .login-container {
    max-width: 350px; /* Adjusted for mobile screens */
  }
}

.login-container .title-text {
  display: flex;
  width: 200%;
}
.login-container .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  color: #c80563;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.login-container .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 8px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 8px;
  background: -webkit-linear-gradient(left, #d40368, #c80563, #b00959, #c80563);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type='radio'] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.login-container .form-container {
  width: 100%;
  overflow: hidden;
}
.field p {
  font-size: 14px;
  color: #333;
  margin-bottom: 0px;
  margin-top: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: -10px !important;
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus {
  border-color: #b00959;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #c80563;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #b00959;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(left, #d40368, #c80563, #b00959, #c80563);
  border-radius: 8px;
  transition: all 0.4s ease;

}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type='submit'] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;

  cursor: pointer;
}
/* Done */
