@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#products-main {
  display: flex;
  gap: 3rem;
  margin: 2rem 0.4rem 0rem 0.4rem;
}

#products-sidebar {
  width: 100%;
  z-index: 1;
}

#relevance {
  border: 1px solid rgb(200, 200, 200);
}

#relevance .arrow {
  color: #e70171;
}

#product-filters {
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  margin-top: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.2rem;
}

.dropdown {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  padding: 0.7rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 500;
}

.dropdown .arrow {
  font-weight: 900;
  font-size: 16px;
  transition: transform 0.3s;
}

.dropdown.active .arrow {
  transform: rotate(180deg);
}

.dropdown-content {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  display: none;
  /* position: absolute; */
  z-index: 1;
}

.dropdown.active + .dropdown-content {
  display: block;
}

.dropdown-content > div {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(200, 200, 200);
}

.dropdown-content > div:hover {
  background-color: rgb(240, 240, 240);
}

/* Products-Card CSS */

#products-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#products-cards > div {
  padding: 1rem 1rem 3rem 1rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#products-cards img {
  width: 100%;
  margin-bottom: 0.4rem;
  aspect-ratio: 1/1;
}

#products-cards h4 {
  margin-bottom: 0.4rem;
}

#products-cards p {
  margin-bottom: 0.4rem;
}

#products-cards span:nth-child(2) {
  color: gray;
  font-size: 12px;
}

.product-card-btn {
  display: flex;
  border-top: 1px solid rgb(200, 200, 200);
  justify-items: flex-end;
  justify-content: flex-end;
  display: none;
  width: 100%;
}

#products-cards > div:hover .product-card-btn {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.card-fvrt-btn {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e70171;
  cursor: pointer;
}

.card-add-to-cart-btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e70171;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (min-width: 1483px) {
  #products-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1095px) {
  #products-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) and (min-width: 592px) {
  #products-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 591px) {
  #products-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #products-main {
    flex-direction: column;
  }
}
